# Import Libraries

In [881]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

import datetime

# Create Sample DataFrames

## Fighter DF

In [37]:
names = ['Brian Ortega', 'Jon Jones', 'Connor McGregor']
ages  = ['26','32','30']
dobs  = ['06-1990','03-1985','09-1992'] 
homes = ['USA','USA','Ireland']
accuracies = [0.87,0.67,0.23]

fighter_df = pd.DataFrame({'Name': names, 'Ages': ages, 'D.O.B.': dobs,'Hometown': homes, 'Accuracy': accuracies})
fighter_df

              Name Ages   D.O.B. Hometown  Accuracy
0     Brian Ortega   26  06-1990      USA      0.87
1        Jon Jones   32  03-1985      USA      0.67
2  Connor McGregor   30  09-1992  Ireland      0.23

In [38]:
fighter_df['D.O.B.'] = pd.to_datetime(fighter_df['D.O.B.'], format='%m-%Y')

## Fight DF

In [39]:
fight_ids = [435,654,796]
dates     = ['06-2017','08-2017','03-2019']
fighter_1 = ['Brian Ortega', 'Brian Ortega', 'Connor McGregor']
fighter_2 = ['Connor McGregor', 'Jon Jones', 'Jon Jones']
winners   = [1,1,2]

fight_df = pd.DataFrame({'Fight_ID': fight_ids, 'Date': dates, 'Fighter_1': fighter_1, 'Fighter_2': fighter_2, 'Winner': winners})
fight_df

   Fight_ID     Date        Fighter_1        Fighter_2  Winner
0       435  06-2017     Brian Ortega  Connor McGregor       1
1       654  08-2017     Brian Ortega        Jon Jones       1
2       796  03-2019  Connor McGregor        Jon Jones       2

### Add age of each fighter based on date

In [40]:
# Change Date to datetime
fight_df['Date'] = pd.to_datetime(fight_df['Date'], format='%m-%Y')

In [41]:
# Calculate the age based on date of fight and fighter's dob
fight_df['Fighter_1_Age'] = fight_df['Date'] - fighter_df['D.O.B.']

## Merged DF

# Fighter Class

In [85]:
import datetime
from datetime import timedelta

In [90]:
today = datetime.date.today()

date_of_birth = datetime.date(1989, 11, 15)
age = int(((today-date_of_birth).days)/365)
age

29

In [45]:
dob = 19900506

In [111]:

s = "20120213"
# you could also import date instead of datetime and use that.
date_formatted = datetime.datetime(year=int(s[0:4]), month=int(s[4:6]), day=int(s[6:8])).strftime("%Y-%m-%d")

In [112]:
date_formatted

'2012-02-13'

In [125]:
today = datetime.date.today

In [119]:
today = datetime.date.today()

In [120]:
today

datetime.date(2019, 7, 18)

In [126]:
today = datetime.date.today()
dob = datetime.datetime(year=int(s[0:4]), month=int(s[4:6]), day=int(s[6:8]))

# yyyy = int(self.dob[0:4])
# mm = int(self.dob[4:6])
# dd = int(self.dob[6:8])
# dob = datetime.date(yyyy, mm, dd)
age_days = (today-dob).days
age_years = age_days / 365

TypeError: unsupported operand type(s) for -: 'datetime.date' and 'datetime.datetime'

In [131]:
from datetime import date 
  
def calculateAge(birthDate): 
    today = date.today() 
    dateOfBirth = datetime.date(year=int(birthDate[0:4]), month=int(birthDate[4:6]), day=int(birthDate[6:8]))
    age = today.year - dateOfBirth.year - ((today.month, today.day) < (dateOfBirth.month, dateOfBirth.day))   
    return age 
      
# Driver code  
print(calculateAge(date(1997, 2, 3)), "years")

TypeError: 'datetime.date' object is not subscriptable

In [37]:
class Fighter():
    """A fighter within the UFC.  Keeps track of attrributes such as name, hometown and age, 
    as well as methods for updating statistics from each fight"""
    
    def __init__(self, name, date_of_birth, height, home_town):
        """name: (str) first name and last name
           date_of_birth: (yyyymmdd)
           height: (in centimeters)
           home_town: The figher's birthplace"""
        self.name = name
        self.first_name = name.split(" ")[0]
        self.last_name = name.split(" ")[-1]
        self.dob = date_of_birth
        self.height = height        
        self.home = home_town.split(" ")[-1]  # We are only interested in the country of birth
        
        # Age
        self.age = None
        
        # Performance Statistics
        self.previous = None
        self.streak = None
        
        # Fight Statistics
        self.strikes_avg     = None
        self.sig_strikes_avg = None
        self.strikes_acc     = None
        self.sig_strikes_acc = None
        self.dom_pos_avg     = None
    
    def age(self):
        '''Returns the age of the fighter in years'''
        today = datetime.date.today()
        dob = datetime(year=int(s[0:4]), month=int(s[4:6]), day=int(s[6:8]))
        
        yyyy = int(self.dob[0:4])
        mm = int(self.dob[4:6])
        dd = int(self.dob[6:8])
        dob = datetime.date(yyyy, mm, dd)
        age_days = (today-dob).days
        age_years = age_days / 365
        
        return int(age_years)
    
    def fight(self):
        """Updates the fighter's statistics with the latest fight"""

In [38]:
help(Fighter)

Help on class Fighter in module __main__:

class Fighter(builtins.object)
 |  A fighter within the UFC.  Keeps track of attrributes such as name, hometown and age,
 |  as well as methods for updating statistics from each fight
 |
 |  Methods defined here:
 |
 |  __init__(self, name, date_of_birth, height, home_town)
 |      name: (str) first name and last name
 |      date_of_birth: (yyyymmdd)
 |      height: (in centimeters)
 |      home_town: The figher's birthplace
 |
 |  age(self)
 |      Returns the age of the fighter in years
 |
 |  fight(self)
 |      Updates the fighter's statistics with the latest fight
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [40]:
fighter_jon_jones = Fighter('Jon Jones', '19900503', 195, 'Phoenix Arizona USA')

In [42]:
fighter_jon_jones.last_name

'Jones'

In [44]:
fighter_jon_jones.dob

'19900503'

In [ ]:
class Fight():
    ''''''
    
    def __init__(fighter1, fighter2, date):
        '''fighter1 = Name of the first fighter
           figthter2 = Name of the second fighter
           date = Date that the figtht took place'''
        self.f1 = fighter1
        self.f2 = fighter2
        self.date = date

In [6]:
f1 = Fighter("John Jones", 32)

print(f1.name)
print(f1.age)
f1.myfunc()

John Jones
32
Hello my name is John Jones

# Fight Class

# New column for last word of HomeTown or Location

In [42]:
fight_df

   Fight_ID       Date        Fighter_1        Fighter_2  Winner Fighter_1_Age
0       435 2017-06-01     Brian Ortega  Connor McGregor       1     9862 days
1       654 2017-08-01     Brian Ortega        Jon Jones       1    11841 days
2       796 2019-03-01  Connor McGregor        Jon Jones       2     9677 days

In [43]:
fighter_df

              Name Ages     D.O.B. Hometown  Accuracy
0     Brian Ortega   26 1990-06-01      USA      0.87
1        Jon Jones   32 1985-03-01      USA      0.67
2  Connor McGregor   30 1992-09-01  Ireland      0.23

In [46]:
fighter_df['Surname'] = fighter_df['Name'].apply(lambda x: x.split()[-1])

In [47]:
fighter_df

              Name Ages     D.O.B. Hometown  Accuracy   Surname
0     Brian Ortega   26 1990-06-01      USA      0.87    Ortega
1        Jon Jones   32 1985-03-01      USA      0.67     Jones
2  Connor McGregor   30 1992-09-01  Ireland      0.23  McGregor

In [50]:
fighter_df.drop('Surname', axis=1, inplace=True)

In [51]:
fighter_df

              Name Ages     D.O.B. Hometown  Accuracy
0     Brian Ortega   26 1990-06-01      USA      0.87
1        Jon Jones   32 1985-03-01      USA      0.67
2  Connor McGregor   30 1992-09-01  Ireland      0.23

# Practice with classes

https://www.youtube.com/watch?v=ZDa-Z5JzLYM&list=PL-osiE80TeTsqhIuOqKhwlXsIBIdSeYtc

In [161]:
import datetime
today = datetime.date.today()
date_of_birth = datetime.date(1989, 11, 15)
age = ((today-date_of_birth).days)//365
age

datetime.date(2019, 7, 19)

In [229]:
class Fighter:
    
    today = datetime.date.today()
    
    def __init__(self, first, last, dob, fights, wins):
        """first: fighter's first name
           last: fighter's last name
           dob: format (int) yyyymmdd"""
        self.first = first
        self.last = last
        yyyy = int(str(dob)[:4])
        mm = int(str(dob)[4:6])
        dd = int(str(dob)[6:8])
        self.dob = datetime.date(yyyy, mm, dd)
        self.age = (self.today - self.dob).days//365
        self.fights = fights
        self.wins = wins
        self.win_pct = wins / fights

    def fullname(self):
        """Returns the full name of the fighter"""
        return '{} {}'.format(self.first, self.last)
    
    def update_age(self, date):
        """Sets the age of the fighter to the age they would be at a given date """
        yyyy = int(str(date)[:4])
        mm = int(str(date)[4:6])
        dd = int(str(date)[6:8])
        fight_date = datetime.date(yyyy, mm, dd)
        self.age = (fight_date - self.dob).days//365

In [243]:
# function for calculating age at a date
# INPUT FUNCTION HERE TO CLEAN UP CLASS

In [230]:
fighter1 = Fighter('Bruce', 'Lee', 19600104, 24, 20)
fighter2 = Fighter('Jackie', 'Chan', 19780503, 16, 15)

In [226]:
print(fighter1.fullname())

# this is the same as above, but might make it easier to update statistics for instance.
print(Fighter.fullname(fighter1))

Bruce Lee
Bruce Lee

In [227]:
# Returns the namespace of fighter1
fighter1.__dict__

{'first': 'Bruce',
 'last': 'Lee',
 'dob': datetime.date(1960, 1, 4),
 'age': 59,
 'fights': 24,
 'wins': 20,
 'win_pct': 0.8333333333333334}

In [231]:
# test the update_age method
print(fighter1.age)
fighter1.update_age(20150604)
print(fighter1.age)

59
55

# Exploring Yuan's 3 csv files

In [250]:
import pandas as pd

In [249]:
!ls ../data/raw/

data.csv.zip     ufc_bouts.csv    ufc_combined.csv ufc_fighters.csv

## Bouts DF

In [401]:
data_bouts = pd.read_csv('../data/raw/ufc_bouts.csv', parse_dates=['date'])
data_bouts.head(3)

,bout_id,event_name,date,location,attendance,result,fighter1,fighter2,winner,weight_class,title_fight,method,end_round,end_time
0,1,UFC Fight Night: Magny vs. Ponzinibbio,2018-11-17,"Buenos Aires, Buenos Aires, Argentina",10245.0,win,Santiago Ponzinibbio,Neil Magny,Santiago Ponzinibbio,Welterweight,f,KO/TKO-Punch,4,2:36
1,2,UFC Fight Night: Magny vs. Ponzinibbio,2018-11-17,"Buenos Aires, Buenos Aires, Argentina",10245.0,win,Ricardo Lamas,Darren Elkins,Ricardo Lamas,Featherweight,f,KO/TKO-Elbows,3,4:09
2,3,UFC Fight Night: Magny vs. Ponzinibbio,2018-11-17,"Buenos Aires, Buenos Aires, Argentina",10245.0,win,Johnny Walker,Khalil Rountree Jr.,Johnny Walker,Light Heavyweight,f,KO/TKO-Elbow,1,1:57

### Result column

In [402]:
print('Result Column Value Counts:\n', data_bouts.result.value_counts(), '\n')

# Drop NC rows as they dont help us predict the outcome
data_bouts = data_bouts[data_bouts['result']!='nc']

# drop the draw rows for now, so that we have a binary outcome of win or lose
data_bouts = data_bouts[data_bouts['result']!='draw']

print('Result Column Value Counts After Dropping nc AND draw:\n', data_bouts.result.value_counts())

Result Column Value Counts:
 win     4796
nc        48
draw      34
Name: result, dtype: int64

Result Column Value Counts After Dropping nc AND draw:
 win    4796
Name: result, dtype: int64

### Shorten location column to only the country

In [403]:
# Strip the location column down to only the country
data_bouts['location'] = data_bouts['location'].str.split(" ").str.get(-1)
# Rename the location column to bout_location
data_bouts.rename({'location': 'bout_location'}, inplace=True)

data_bouts.head(1)

,bout_id,event_name,date,location,attendance,result,fighter1,fighter2,winner,weight_class,title_fight,method,end_round,end_time
0,1,UFC Fight Night: Magny vs. Ponzinibbio,2018-11-17,Argentina,10245.0,win,Santiago Ponzinibbio,Neil Magny,Santiago Ponzinibbio,Welterweight,f,KO/TKO-Punch,4,2:36

### Reduce categories in method column

In [404]:
print('- There were originally {} categories of win method\n'.format(data_bouts.method.value_counts().count()))

# Reduce the categories down
data_bouts['method'] = data_bouts['method'].str.split("-").str.get(0)

print('- Now there are only {} categories of win method: \n{}'.format(data_bouts.method.value_counts().count(), data_bouts.method.value_counts()))

- There were originally 44 categories of win method

- Now there are only 4 categories of win method:
DEC       2106
KO/TKO    1645
SUB       1031
DQ          14
Name: method, dtype: int64

### Duplicate Rows (no duplicate bout_ids)

In [405]:
data_bouts.shape[0] == data_bouts['bout_id'].nunique()

True

### Drop other unecessary columns

In [406]:
cols_to_keep = ['date', 'location', 'fighter1', 'fighter2', 'winner', 'title_fight', 'method', 'end_round']
data_bouts = data_bouts[cols_to_keep]
data_bouts.head(3)

,date,location,fighter1,fighter2,winner,title_fight,method,end_round
0,2018-11-17,Argentina,Santiago Ponzinibbio,Neil Magny,Santiago Ponzinibbio,f,KO/TKO,4
1,2018-11-17,Argentina,Ricardo Lamas,Darren Elkins,Ricardo Lamas,f,KO/TKO,3
2,2018-11-17,Argentina,Johnny Walker,Khalil Rountree Jr.,Johnny Walker,f,KO/TKO,1

### Save the cleaned bouts df to processed data file

In [408]:
data_bouts.to_csv('../data/processed/bouts_cleaned')

## Fighters DF

In [1373]:
data_fighters = pd.read_csv('../data/raw/ufc_fighters.csv', parse_dates=['dob'])
data_fighters.head(3)

,fighter_id,name,win,lose,draw,nc,height,weight,reach,stance,dob,SLpM,Str_Acc,SApM,Str_Def,TD_Avg,TD_Acc,TD_Def,Sub_Avg,last_updated
0,1,Luciano Azevedo,16,9,1,0,"6' 3""",161 lbs.,NaN,Orthodox,1981-06-25,0.76,45%,1.97,27%,2.28,11%,0%,0.0,2018-11-21 19:35:04.893952
1,2,Michael Byrnes,5,2,0,0,"5' 11""",155 lbs.,NaN,NaN,1990-07-17,0.00,0%,0.00,0%,0.00,0%,0%,0.0,2018-11-21 19:35:09.304165
2,3,Gleidson Cutis,7,3,0,0,"5' 9""",155 lbs.,NaN,Orthodox,1989-02-07,2.99,52%,8.28,59%,0.00,0%,0%,0.0,2018-11-21 19:35:11.211072

In [1374]:
data_fighters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3187 entries, 0 to 3186
Data columns (total 20 columns):
fighter_id      3187 non-null int64
name            3187 non-null object
win             3187 non-null int64
lose            3187 non-null int64
draw            3187 non-null int64
nc              3187 non-null int64
height          2928 non-null object
weight          3111 non-null object
reach           1482 non-null object
stance          2360 non-null object
dob             2454 non-null datetime64[ns]
SLpM            3187 non-null float64
Str_Acc         3187 non-null object
SApM            3187 non-null float64
Str_Def         3187 non-null object
TD_Avg          3187 non-null float64
TD_Acc          3187 non-null object
TD_Def          3187 non-null object
Sub_Avg         3187 non-null float64
last_updated    3187 non-null object
dtypes: datetime64[ns](1), float64(4), int64(5), object(10)
memory usage: 498.0+ KB

In [1375]:
data_fighters.describe()

,fighter_id,win,lose,draw,nc,SLpM,SApM,TD_Avg,Sub_Avg
count,3187.00000,3187.000000,3187.000000,3187.000000,3187.000000,3187.000000,3187.000000,3187.000000,3187.000000
mean,1594.00000,11.497647,5.216505,0.292438,0.133668,2.153012,2.812931,1.173282,0.651302
std,920.15198,8.905952,4.697457,0.866378,0.376264,2.005978,2.818438,1.838291,1.551506
min,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,797.50000,5.000000,2.000000,0.000000,0.000000,0.510000,1.130000,0.000000,0.000000
50%,1594.00000,10.000000,4.000000,0.000000,0.000000,2.000000,2.600000,0.460000,0.000000
75%,2390.50000,15.000000,7.000000,0.000000,0.000000,3.250000,3.790000,1.860000,0.800000
max,3187.00000,127.000000,74.000000,11.000000,4.000000,30.000000,52.500000,32.140000,21.900000

In [1376]:
data_fighters.isna().sum().sort_values(ascending=False)[:6]

reach     1705
stance     827
dob        733
height     259
weight      76
name         0
dtype: int64

### Deal with missing values

### Remove fighters with limited statistics

### Drop unecessary columns

In [1401]:
data_fighters.head(3)

,fighter_id,name,win,lose,draw,nc,height,weight,reach,stance,...,SApM,Str_Def,TD_Avg,TD_Acc,TD_Def,Sub_Avg,last_updated,dob_year,age_today,height_inches
0,1,Luciano Azevedo,16,9,1,0,6 3,161 lbs.,72.0,Orthodox,...,1.97,27,2.28,11,0,0.0,2018-11-21 19:35:04.893952,1981.0,38.0,75.0
1,3,Gleidson Cutis,7,3,0,0,5 9,155 lbs.,72.0,Orthodox,...,8.28,59,0.00,0,0,0.0,2018-11-21 19:35:11.211072,1989.0,30.0,69.0
2,4,Rolando Dy,9,7,1,1,5 8,145 lbs.,69.0,Orthodox,...,4.47,52,0.30,20,68,0.0,2018-11-21 19:35:14.677808,1990.0,29.0,68.0

In [1402]:
# Columns to drop
cols_to_drop = ['fighter_id', 'weight', 'last_updated', 'dob_year', 'height']

# Drop the columns
data_fighters.drop(cols_to_drop, axis=1, inplace=True)

In [1403]:
data_fighters.shape

(2460, 18)

In [1404]:
data_fighters.head(3)

,name,win,lose,draw,nc,reach,stance,dob,SLpM,Str_Acc,SApM,Str_Def,TD_Avg,TD_Acc,TD_Def,Sub_Avg,age_today,height_inches
0,Luciano Azevedo,16,9,1,0,72.0,Orthodox,1981-06-25,0.76,45,1.97,27,2.28,11,0,0.0,38.0,75.0
1,Gleidson Cutis,7,3,0,0,72.0,Orthodox,1989-02-07,2.99,52,8.28,59,0.00,0,0,0.0,30.0,69.0
2,Rolando Dy,9,7,1,1,69.0,Orthodox,1990-08-11,3.04,37,4.47,52,0.30,20,68,0.0,29.0,68.0

### Save the cleaned fighters df to processed data file

In [1405]:
data_fighters.to_csv('../data/processed/fighters_cleaned')

# pulling in hometown to data

In [4]:
import pandas as pd

In [5]:
!ls ../data/raw

data.csv.zip     ufc_bouts.csv    ufc_combined.csv ufc_fighters.csv

In [346]:
fighter_hometown = pd.read_csv('../data/raw/fighter_stats_each_bout.csv.zip')
clean_fighter_data(data).head()

                    name home_country
0         Marvin Vettori        Italy
1  Carlos Diego Ferreira       Brazil
2          Takanori Gomi        Japan
3         Brandon Moreno       Mexico
4     Elizabeth Phillips          USA

In [33]:
data.head(2)

,BPrev,BStreak,B_Age,B_Height,B_HomeTown,B_ID,B_Location,B_Name,B_Weight,B__Round1_Grappling_Reversals_Landed,...,R__Round5_TIP_Ground Time,R__Round5_TIP_Guard Control Time,R__Round5_TIP_Half Guard Control Time,R__Round5_TIP_Misc. Ground Control Time,R__Round5_TIP_Mount Control Time,R__Round5_TIP_Neutral Time,R__Round5_TIP_Side Control Time,R__Round5_TIP_Standing Time,winby,winner
0,1,1,23.0,182.0,Trento Italy,2783,Mezzocorona Italy,Marvin Vettori,84,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DEC,red
1,0,0,32.0,175.0,"Careiro da Vrzea, Amazonas Brazil",2208,"Pharr, Texas USA",Carlos Diego Ferreira,70,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SUB,blue

In [326]:
data_b_fighter = data[['B_Name', 'B_HomeTown', 'B_Height']]
data_r_fighter = data[['R_Name', 'R_HomeTown', 'R_Height']]

In [334]:
def generalize_columns(df):
    '''Make the column headings lowercase and generalized (remove the B_ and R_)'''
    # Make lowercase
    df.columns = df.columns.str.lower()
    # Split on the _
    df_columns = df.columns.str.split("_")
    # Take the last word in the inner list
    df_columns = [el[-1] for el in df_columns]
    # Change the names of columns
    df.columns = df_columns
    
    return df

In [339]:
def clean_hometown(data_both_fighters):
    '''Cleans up the hometown column and returns the home_country alongside the name'''
    # Split the hometown column into 
    data_both_fighters['hometown'] = data_both_fighters['hometown'].str.split(" ")

    data_both_fighters.dropna(subset=['hometown'], inplace=True)

    for row in data_both_fighters['hometown']:
        # If the list ends in a space, pop it off
        if len(row[-1]) == 0:
            row.pop()
        # Replace [United, States] with [USA]
        if row[-1] == 'States':
            row[-1] = 'USA'
        # Change 'Michigan' to 'USA'
        if row[-1] == 'Michigan':
            row[-1] = 'USA'

    # Strip out the row to only the last element
    data_both_fighters['home_country']=list(map(lambda x: x[-1], data_both_fighters['hometown']))
    # Drop the 'hometown column'
    data_both_fighters.drop(columns='hometown', axis=1, inplace=True)
    
    # Reset the index
    data_both_fighters.reset_index(drop=True, inplace=True)
    
    return data_both_fighters

In [340]:
def clean_fighter_data(data):
    '''Cleans up the dataframe and returns the df with unique fighters names, home_country'''
    
    # Split dataframe into dataframe for the Blue fighter and another dataframe for the Red fighter
    data_b_fighter = data[['B_Name', 'B_HomeTown']]
    data_r_fighter = data[['R_Name', 'R_HomeTown']]
    
    # Change the column headings to lowercase and remove the B_ and R_
    [generalize_columns(df) for df in [data_b_fighter, data_r_fighter]]
    
    # Concatenate the Blue fighters data to the Red fighters data
    data_both_fighters = pd.concat([data_b_fighter, data_r_fighter], ignore_index=True)

    # Filter the data to only unique names
    data_both_fighters.drop_duplicates(subset='name', keep='first', inplace=True)
    
    clean_hometown(data_both_fighters)
    
    return data_both_fighters

In [328]:
[generalize_columns(df) for df in [data_b_fighter, data_r_fighter]]

[None, None]

In [329]:
# Concatenate the Blue fighters data to the Red fighters data
data_both_fighters = pd.concat([data_b_fighter, data_r_fighter], ignore_index=True)

# Filter the data to only unique names
data_both_fighters.drop_duplicates(subset='name', keep='first', inplace=True)

We have wittled down the data from 2954 to only the unique names (852 unique names in total)

In [330]:
# Split the hometown column into 
data_both_fighters['hometown'] = data_both_fighters['hometown'].str.split(" ")

data_both_fighters.dropna(subset=['hometown'], inplace=True)

for row in data_both_fighters['hometown']:
    # If the list ends in a space, pop it off
    if len(row[-1]) == 0:
        row.pop()
    # Replace [United, States] with [USA]
    if row[-1] == 'States':
        row[-1] = 'USA'
    # Change 'Michigan' to 'USA'
    if row[-1] == 'Michigan':
        row[-1] = 'USA'

# Strip out the row to only the last element
data_both_fighters['home_country']=list(map(lambda x: x[-1], data_both_fighters['hometown']))
# Drop the 'hometown column'
data_both_fighters.drop(columns='hometown', axis=1, inplace=True)

In [320]:
data_both_fighters['home'] = 0
for i, value in enumerate(data_both_fighters['home']):
    value = data_both_fighters['hometown'][i]

KeyError: 42

In [314]:
data_both_fighters['home'] = 0
data_both_fighters['home'][x] = (data_both_fighters['hometown'][x][-1] for x in data_both_fighters.index)

/anaconda3/envs/ml-ufc-env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

TypeError: object of type 'generator' has no len()

In [267]:
data_both_fighters['hometown'] = list(map(lambda x: x[-1], data_both_fighters['hometown']))

TypeError: 'float' object is not subscriptable

In [250]:
def grab_last_element(list_of_lists):
    '''Returns a list of lists, with only the last element in each inner list returned'''
    return list(map(lambda x: x[-1], list_of_lists))

In [251]:
grab_last_element(data_both_fighters.hometown)

TypeError: 'float' object is not subscriptable

In [247]:
temp_list = []
for x in range(5):
    temp_list.append(list(np.random.randint(1,100,5)))
temp_list

[[62, 89, 9, 43, 41],
 [33, 80, 76, 75, 44],
 [42, 15, 57, 56, 43],
 [52, 72, 96, 80, 89],
 [27, 85, 31, 17, 61]]

In [249]:
# map(fun, iter)
list(map(lambda x: x[-1], temp_list))

[41, 44, 43, 89, 61]

In [230]:
data_both_fighters['hometown'] = grab_last_element(data_both_fighters['hometown'])

KeyError: -1

In [219]:
for x in list(range(len(data_both_fighters['hometown']))):    
    data_both_fighters['hometown'][x] = data_both_fighters['hometown'][x][-1]

/anaconda3/envs/ml-ufc-env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

KeyError: 42

In [225]:
data_both_fighters.hometown.value_counts

<bound method IndexOpsMixin.value_counts of 0                                                Italy
1                                               Brazil
2                                                Japan
3                                               Mexico
4                                                  USA
5                                                 Iran
6                                               Canada
7                                                  USA
8                                                  USA
9                                               Brazil
10                                                 USA
11                                            Scotland
12                                              Brazil
13                                             Vietnam
14                                              Latvia
15                                              Russia
16                                              States
17                                                 USA
18                                              States
19                                                 USA
20                                              Canada
21                                                 USA
22                                                 USA
23                                                 USA
24                                              Cyprus
25                                                 USA
26                                             Ireland
27                                              States
28                                           Australia
29                                                 USA
                             ...
2478                        [Rio, de, Janeiro, Brazil]
2494                   [Campinas,, Sao, Paulo, Brazil]
2502                                [Brasilia, Brazil]
2517                      [Chesapeake,, Virginia, USA]
2535                             [Seoul, South, Korea]
2546                             [Englewood,, NJ, USA]
2560                                  [Lublin, Poland]
2596                                 [Zagreb, Croatia]
2601                   [Campinas,, Sao, Paulo, Brazil]
2612    [Bishop, Auckland,, County, Durham, England, ]
2614                              [Nuremberg, Germany]
2618                             [Portlaoise, Ireland]
2621                        [Rio, de, Janeiro, Brazil]
2652                           [Omaha,, Nebraska, USA]
2656                              [Asuncion, Paraguay]
2687                           [Fort, Wayne,, IN, USA]
2711                  [Angels, Camp,, California, USA]
2714             [Celle, Saint, Cloud,, Paris, France]
2723          [Natal,, Rio, Grande, do, Norte, Brazil]
2728            [Ribeiro, Pires,, Sao, Paulo, Brazil]
2795                                    [Umea, Sweden]
2805                          [Laval,, Quebec, Canada]
2824                        [Nizhny, Novgorod, Russia]
2826                                [Hamilton, Canada]
2855                                    [Osaka, Japan]
2882                          [Denver,, Colorado, USA]
2885                             [Childress,, TX, USA]
2894                        [Lynden,, Washington, USA]
2917                             [San, Jose,, CA, USA]
2925                          [Fortaleza,, CE, Brazil]
Name: hometown, Length: 852, dtype: object>

In [ ]:
df_columns = df.columns.str.split("_")
    # Take the last word in the inner list
    df_columns = [el[-1] for el in df_columns]

In [182]:
data_both_fighters

                        name                                  hometown  height
0             Marvin Vettori                              Trento Italy   182.0
1      Carlos Diego Ferreira        Careiro da Vrzea, Amazonas Brazil   175.0
2              Takanori Gomi                            Kanagawa Japan   172.0
3             Brandon Moreno                            Tijuana Mexico   170.0
4         Elizabeth Phillips                           Spokane, WA USA   167.0
5                Reza Madadi                               Tehran Iran   180.0
6             Shane Campbell            St. Catharines, Ontario Canada   182.0
7                Johnny Case                       Jefferson, Iowa USA   177.0
8             Justin Edwards                       Mansfield, Ohio USA   177.0
9           Viscardi Andrade              Jales City, Sao Paulo Brazil   182.0
10              Yaotzin Meza                 Santa Ana, California USA   175.0
11                Stevie Ray                             Fife Scotland   177.0
12              Wagner Silva               Vicosa, Minas Gerais Brazil   182.0
13                   Cung Le                            Saigon Vietnam   177.0
14            Misha Cirkunov                               Riga Latvia   190.0
15          Ruslan Magomedov           The Republic of Dagestan Russia   190.0
16             Eddie Alvarez  Philadelphia, Pennsylvania United States   175.0
17          Patrick Williams                        Miami, Florida USA   172.0
18               Sara McMann       Takoma Park, Maryland United States   167.0
19                 Nick Diaz                  Stockton, California USA   182.0
20              Gavin Tucker         St. Anthony , Newfoundland Canada   170.0
21                  KJ Noons                          Kona, Hawaii USA   177.0
22                 Leo Kuntz                  Linton, North Dakota USA   177.0
23               Joe Proctor                 Quincy, Massachusetts USA   177.0
24          Costas Philippou                           Limassol Cyprus   180.0
25             Dan Henderson                    Downey, California USA   180.0
26                Neil Seery                            Dublin Ireland   162.0
27              Jason Knight        Jackson, Mississippi United States   177.0
28                  Ben Wall                     Albury, NSW Australia   177.0
29           Darrell Horcher                     Chicago, Illinois USA   177.0
...                      ...                                       ...     ...
2478         Fabricio Camoes                     Rio de Janeiro Brazil   177.0
2494           Ricardo Ramos                Campinas, Sao Paulo Brazil   175.0
2502           Bigfoot Silva                           Brasilia Brazil   193.0
2517          Matt Van Buren                  Chesapeake, Virginia USA   195.0
2535              Dongi Yang                         Seoul South Korea   180.0
2546             Nick Catone                         Englewood, NJ USA   182.0
2560         Izabela Badurek                             Lublin Poland   162.0
2596             Filip Pejic                            Zagreb Croatia   177.0
2601      Richardson Moreira                Campinas, Sao Paulo Brazil   187.0
2612             Davey Grant   Bishop Auckland, County Durham England    172.0
2614            Jessin Ayari                         Nuremberg Germany   182.0
2618            Charlie Ward                        Portlaoise Ireland   180.0
2621      Cristiano Marcello                     Rio de Janeiro Brazil   175.0
2652         Joe Ellenberger                       Omaha, Nebraska USA   175.0
2656        Cesar Arzamendia                         Asuncion Paraguay   180.0
2687         Anthony Lapsley                        Fort Wayne, IN USA   175.0
2711          T.J. Dillashaw               Angels Camp, California USA   167.0
2714         Cyrille Diabate           Celle Saint Cloud, Paris France   198.0
2723            Ronny Markes         Natal, Rio Grande do Norte Brazil   185.0
2728  Marcos Rogerio de Lima          Ribeiro Pires, Sao Paulo Brazil   185.0
2795              Tor Troeng                               Umea Sweden   187.0
2805          Aiemann Zahabi                      Laval, Quebec Canada   172.0
2824             Artem Lobov                    Nizhny Novgorod Russia   175.0
2826         Jessica Rakoczy                           Hamilton Canada   170.0
2855       Yoshihiro Akiyama                               Osaka Japan   177.0
2882              Matt Wiman                      Denver, Colorado USA   177.0
2885          Bubba McDaniel                         Childress, TX USA   190.0
2894          Cory Hendricks                    Lynden, Washington USA   190.0
2917          Kyle Kingsbury                          San Jose, CA USA   193.0
2925             Renee Forte                      Fortaleza, CE Brazil   170.0

[852 rows x 3 columns]

In [173]:
hometown[0][-1]

'Italy'

In [165]:
data_both_fighters['hometown'] = data_both_fighters['hometown'].str.split(" ")
data_both_fighters['hometown'] = data_both_fighters['hometown'][el[-1] for el in data_both_fighters['hometown']]

SyntaxError: invalid syntax (<ipython-input-165-78961243fef6>, line 2)

In [159]:
home_town.split(" ")[-1]

NameError: name 'home_town' is not defined

In [123]:
data_fighters = pd.read_csv('../data/processed/fighters_cleaned')
data_fighters.head()

,name,win,lose,draw,total_bouts,win_rate,height_inches,reach,stance,dob,age_today,slpm,str_acc,sapm,str_def,td_avg,td_acc,td_def,sub_avg
0,Luciano Azevedo,16,9,1,26,0.62,75.0,72.0,Orthodox,1981-06-25,38.0,0.76,45,1.97,27,2.28,11,0,0.0
1,Gleidson Cutis,7,3,0,10,0.70,69.0,72.0,Orthodox,1989-02-07,30.0,2.99,52,8.28,59,0.00,0,0,0.0
2,Rolando Dy,9,7,1,17,0.53,68.0,69.0,Orthodox,1990-08-11,29.0,3.04,37,4.47,52,0.30,20,68,0.0
3,Jessica Eye,13,6,0,19,0.68,66.0,66.0,Orthodox,1986-07-27,33.0,3.42,36,3.32,59,0.59,71,60,0.8
4,Katsuaki Furuki,1,1,0,2,0.50,72.0,72.0,Orthodox,1980-11-10,39.0,0.27,10,2.67,39,0.00,0,0,3.0

# add home country onto fighters df
- only 34% of fighters are assigned a home country

In [354]:
home_country = pd.read_csv('../data/processed/fighter_home_country')
home_country.head(2)

                    name home_country
0         Marvin Vettori        Italy
1  Carlos Diego Ferreira       Brazil

In [355]:
fighters = pd.read_csv('../data/processed/fighters_cleaned')
fighters.head(2)

,name,win,lose,draw,total_bouts,win_rate,height_inches,reach,stance,dob,age_today,slpm,str_acc,sapm,str_def,td_avg,td_acc,td_def,sub_avg
0,Luciano Azevedo,16,9,1,26,0.62,75.0,72.0,Orthodox,1981-06-25,38.0,0.76,45,1.97,27,2.28,11,0,0.0
1,Gleidson Cutis,7,3,0,10,0.70,69.0,72.0,Orthodox,1989-02-07,30.0,2.99,52,8.28,59,0.00,0,0,0.0

In [382]:
fighters = fighters.merge(home_country, how='left')

In [398]:
na = fighters.home_country.isna().sum()
total = len(fighters)
have_values = round(1-(na/total), 4)*100
print('Only {}% of fighters have a home country assigned'.format(have_values))

Only 33.78% of fighters have a home country assigned

In [399]:
fighters

,name,win,lose,draw,total_bouts,win_rate,height_inches,reach,stance,dob,age_today,slpm,str_acc,sapm,str_def,td_avg,td_acc,td_def,sub_avg,home_country
0,Luciano Azevedo,16,9,1,26,0.62,75.000000,72.0,Orthodox,1981-06-25,38.0,0.76,45,1.97,27,2.28,11,0,0.0,NaN
1,Gleidson Cutis,7,3,0,10,0.70,69.000000,72.0,Orthodox,1989-02-07,30.0,2.99,52,8.28,59,0.00,0,0,0.0,NaN
2,Rolando Dy,9,7,1,17,0.53,68.000000,69.0,Orthodox,1990-08-11,29.0,3.04,37,4.47,52,0.30,20,68,0.0,NaN
3,Jessica Eye,13,6,0,19,0.68,66.000000,66.0,Orthodox,1986-07-27,33.0,3.42,36,3.32,59,0.59,71,60,0.8,USA
4,Katsuaki Furuki,1,1,0,2,0.50,72.000000,72.0,Orthodox,1980-11-10,39.0,0.27,10,2.67,39,0.00,0,0,3.0,NaN
5,Mike Guymon,12,5,1,18,0.67,72.000000,74.0,Orthodox,1974-09-17,45.0,2.75,65,0.79,66,1.87,37,54,1.2,NaN
6,Solomon Hutcherson,11,7,0,18,0.61,71.000000,72.0,Southpaw,1972-08-31,47.0,2.59,39,2.59,64,3.53,100,0,0.0,NaN
7,Hiroshi Izumi,4,2,0,6,0.67,70.390369,72.0,Orthodox,1982-06-22,37.0,1.95,37,2.65,66,3.35,70,100,0.5,NaN
8,Cris Cyborg,20,1,0,21,0.95,68.000000,68.0,Orthodox,1985-07-09,34.0,7.02,52,1.79,70,0.85,62,91,0.3,Brazil
9,Mike Kyle,19,9,1,29,0.66,76.000000,77.0,Orthodox,1980-03-31,39.0,4.50,51,2.76,54,1.55,62,50,0.9,NaN
10,Chris Lytle,31,18,5,54,0.57,71.000000,68.0,Orthodox,1974-08-18,45.0,3.76,45,3.03,58,0.70,55,55,2.4,NaN
11,Ho Bae Myeon,12,5,1,18,0.67,71.000000,72.0,Orthodox,1986-03-12,NaN,3.16,16,3.16,83,0.00,0,0,0.0,NaN
12,Kennedy Nzechukwu,5,0,0,5,1.00,77.000000,82.0,Southpaw,1992-06-13,27.0,7.20,36,5.06,50,0.00,0,71,0.0,NaN
13,Alptekin Ozkilic,9,4,0,13,0.69,65.000000,65.0,Orthodox,1986-03-27,33.0,3.81,32,5.72,59,4.21,58,75,0.0,Turkey
14,Mike Pyle,27,14,1,42,0.64,72.000000,74.0,Orthodox,1975-09-18,44.0,2.74,45,2.84,60,1.80,35,70,1.5,USA
15,Jose Quinonez,8,2,0,10,0.80,68.000000,69.0,Orthodox,1990-07-28,29.0,3.26,44,2.32,68,2.88,50,57,1.0,Mexico
16,Michel Quinones,8,3,0,11,0.73,70.000000,73.0,Orthodox,1984-12-22,35.0,2.91,29,5.98,48,0.00,0,36,0.0,NaN
17,Ryan Quinn,13,7,1,21,0.62,68.000000,72.0,Orthodox,1986-03-12,NaN,2.31,41,1.67,48,0.00,0,0,1.9,NaN
18,Jimmy Quinlan,3,1,1,5,0.60,72.000000,72.0,Orthodox,1986-05-25,33.0,2.08,70,5.94,16,4.46,25,0,0.0,NaN
19,Vinicius Queiroz,5,2,0,7,0.71,79.000000,72.0,Orthodox,1983-08-29,36.0,3.67,51,4.10,41,5.07,70,100,0.7,NaN
20,Nate Quarry,12,4,0,16,0.75,72.000000,72.0,Open Stance,1972-03-18,47.0,4.96,44,2.80,66,0.25,33,60,0.0,NaN
21,Jens Pulver,25,15,1,41,0.61,67.000000,70.0,Southpaw,1974-12-06,45.0,2.12,37,3.13,56,0.22,33,63,0.3,NaN
22,Hugh Pulley,6,3,0,9,0.67,72.000000,72.0,Orthodox,1986-03-12,NaN,4.47,63,3.27,57,4.00,66,69,0.0,NaN
23,Juan Puig,11,4,0,15,0.73,69.000000,72.0,Orthodox,1989-04-23,30.0,4.91,23,7.17,51,0.00,0,0,0.0,Mexico
24,Bubba Pugh,3,3,0,6,0.50,70.000000,72.0,Orthodox,1986-03-12,NaN,2.87,67,2.60,23,4.00,57,80,0.0,NaN
25,Claudio Puelles,9,2,0,11,0.82,71.000000,72.0,Southpaw,1996-04-21,23.0,2.33,38,6.53,49,2.33,23,0,0.8,Peru
26,Lucie Pudilova,8,3,0,11,0.73,68.000000,67.0,Orthodox,1994-06-13,25.0,5.53,39,5.03,53,0.00,0,78,0.5,Republic
27,Daniel Puder,8,0,0,8,1.00,75.000000,72.0,Orthodox,1981-10-09,38.0,2.77,68,1.17,38,1.21,50,81,9.0,NaN
28,Cole Province,6,2,0,8,0.75,69.000000,68.0,Orthodox,1981-01-17,38.0,1.47,44,2.72,43,2.40,50,83,1.0,NaN
29,Joe Proctor,11,5,0,16,0.69,70.000000,72.0,Orthodox,1985-08-10,34.0,3.39,36,3.93,59,0.00,0,70,1.8,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2430,Chance Rencountre,12,3,0,15,0.80,74.000000,75.0,Southpaw,1986-12-31,33.0,1.07,13,4.67,46,0.00,0,25,0.0,NaN
2431,Livinha Souza,12,1,0,13,0.92,65.000000,72.0,Orthodox,1991-03-11,28.0,7.41,55,2.96,55,11.11,100,0,11.1,NaN
2432,Leigh Remedios,17,9,2,28,0.61,67.000000,72.0,Orthodox,1976-01-13,43.0,0.75,41,1.36,68,0.00,0,33,0.0,NaN
2433,Goran Reljic,9,3,0,12,0.75,75.000000,81.0,Southpaw,1984-03-20,35.0,1.69,37,2.69,59,1.69,50,33,1.1,NaN
2434,Ben Reiter,17,2,1,20,0.85,75.000000,72.0,Orthodox,1987-06-27,32.0,1.80,46,1.53,54,7.00,43,0,0.0,NaN
2435,Wilson Reis,22,9,0,31,0.71,64.000000,65.0,Southpaw,1985-01-06,34.0,1.82,29,2.99,55,4.94,43,47,0.6,Brazil
2436,Jason Reinhardt,20,3,0,23,0.87,66.000000,72.0,Orthodox,1969-10-31,50.0,0.51,40,4.07,43,1.91,12,50,0.0,NaN
2437,Chad Reiner,28,13,0,41,0.68,71.000000,72.0,Orthodox,1981-06-29,38.0,0.53,20,1.97,46,0.99,33,25,2.0,NaN
2438,Johnny Rees,12,4,0,16,0.75,72.000000,72.0,Orthodox,1982-10-21,37.0,3.29,64,0.84,47,1.15,25,50,0.0,NaN
2439,Karl Reed,2,1,0,3,0.67,75.000000,78.0,Orthodox,1988-10-27,31.0,2.20,42,3.13,52,0.00,0,57,0.0,NaN
2440,Paul Redmond,10,6,0,16,0.62,70.000000,70.0,Orthodox,1986-10-20,33.0,0.72,34,2.99,41,0.00,0,50,0.0,Ireland
2441,Greg Rebello,24,8,0,32,0.75,72.000000,73.0,Southpaw,1982-06-13,37.0,2.61,39,2.92,58,0.00,0,0,0.0,NaN
2442,Rafael Rebello,7,4,0,11,0.64,65.000000,67.0,Orthodox,1980-10-16,39.0,2.19,32,3.29,58,2.82,33,75,0.5,NaN
2443,Antony Rea,22,13,0,35,0.63,72.000000,72.0,Orthodox,1976-07-15,43.0,2.89,28,5.42,42,0.00,0,100,0.0,NaN
2444,Abdul Razak Alhassan,10,1,0,11,0.91,70.000000,73.0,Orthodox,1985-08-11,34.0,4.59,46,4.20,59,0.57,33,53,0.0,Ghana
2445,Iony Razafiarison,2,1,0,3,0.67,63.000000,72.0,Orthodox,1984-12-23,35.0,1.20,42,1.40,53,2.00,50,75,0.0,NaN
2446,Stevie Ray,22,8,0,30,0.73,70.000000,70.0,Southpaw,1990-03-25,29.0,3.51,45,2.55,55,0.73,55,55,0.7,Scotland
2447,Gideon Ray,17,14,1,32,0.53,70.000000,72.0,Southpaw,1973-05-27,46.0,2.08,40,2.58,53,1.49,100,0,0.0,NaN
2448,Bec Rawlings,7,8,0,15,0.47,66.000000,64.0,Orthodox,1989-02-11,30.0,4.48,42,5.66,57,0.71,40,68,0.4,Australia
2449,Ed Ratcliff,7,3,0,10,0.70,70.000000,71.0,Orthodox,1983-03-05,36.0,2.71,38,2.96,63,0.28,16,53,0.0,NaN
2450,Raou Raou,0,1,0,1,0.00,68.000000,72.0,Orthodox,1986-03-12,NaN,2.01,16,6.75,60,0.00,0,0,0.0,NaN
2451,Kevin Randleman,17,16,0,33,0.52,70.000000,72.0,Orthodox,1971-08-10,48.0,1.26,54,1.12,57,2.00,56,30,0.8,NaN
2452,Vernon Ramos,3,2,0,5,0.60,66.000000,72.0,Orthodox,1992-06-03,27.0,4.00,25,8.00,55,0.00,0,0,0.0,Panama
2453,Davi Ramos,9,2,0,11,0.82,66.000000,70.0,Orthodox,1986-11-05,33.0,3.12,38,2.72,56,3.28,58,0,1.4,Brazil
2454,Ricardo Ramos,12,1,0,13,0.92,69.000000,72.0,Orthodox,1995-08-01,24.0,3.36,42,3.31,58,1.43,50,72,0.7,Brazil
2455,Luis Ramos,19,8,2,29,0.66,68.000000,72.0,Orthodox,1981-01-18,38.0,2.40,35,5.60,42,1.50,20,100,0.0,NaN
2456,Amador Ramirez,5,4,0,9,0.56,70.390369,72.0,Orthodox,1990-06-14,29.0,4.93,51,2.07,69,1.00,33,0,0.0,NaN
2457,Matt Ramirez,2,3,0,5,0.40,65.000000,72.0,Orthodox,1986-03-12,NaN,3.03,50,0.67,75,2.53,16,100,0.0,NaN
2458,Hector Ramirez,9,4,1,14,0.64,72.000000,72.0,Orthodox,1976-03-28,43.0,2.27,41,4.60,56,2.30,55,66,0.5,NaN
2459,Jessica Rakoczy,2,5,0,7,0.29,67.000000,68.0,Orthodox,1977-04-14,42.0,2.50,44,3.55,64,0.75,20,0,0.8,Canada

# NEXT TOPIC

In [400]:
data = [['tom', 10], ['nick', 15], ['juli', 14]] 
df = pd.DataFrame(data, columns = ['Name', 'Age']) 
df

   Name  Age
0   tom   10
1  nick   15
2  juli   14

In [409]:
df2 = pd.DataFrame([[1,5,4],[6,5,7],[4,3,8]])
df2

   0  1  2
0  1  5  4
1  6  5  7
2  4  3  8

In [414]:
pd.options.display.max_rows

60

In [411]:
df3 = pd.DataFrame(['usa','uk','brazil'])
df3

        0
0     usa
1      uk
2  brazil

In [412]:
pd.concat([df,df2,df3], axis=1)
# comb = pd.concat([b,f1,f2], axis=1)

   Name  Age  0  1  2       0
0   tom   10  1  5  4     usa
1  nick   15  6  5  7      uk
2  juli   14  4  3  8  brazil