# Import Libraries

In [7]:
import pandas as pd

# Create Sample DataFrames

## Fighter DF

In [37]:
names = ['Brian Ortega', 'Jon Jones', 'Connor McGregor']
ages  = ['26','32','30']
dobs  = ['06-1990','03-1985','09-1992'] 
homes = ['USA','USA','Ireland']
accuracies = [0.87,0.67,0.23]

fighter_df = pd.DataFrame({'Name': names, 'Ages': ages, 'D.O.B.': dobs,'Hometown': homes, 'Accuracy': accuracies})
fighter_df

              Name Ages   D.O.B. Hometown  Accuracy
0     Brian Ortega   26  06-1990      USA      0.87
1        Jon Jones   32  03-1985      USA      0.67
2  Connor McGregor   30  09-1992  Ireland      0.23

In [38]:
fighter_df['D.O.B.'] = pd.to_datetime(fighter_df['D.O.B.'], format='%m-%Y')

## Fight DF

In [39]:
fight_ids = [435,654,796]
dates     = ['06-2017','08-2017','03-2019']
fighter_1 = ['Brian Ortega', 'Brian Ortega', 'Connor McGregor']
fighter_2 = ['Connor McGregor', 'Jon Jones', 'Jon Jones']
winners   = [1,1,2]

fight_df = pd.DataFrame({'Fight_ID': fight_ids, 'Date': dates, 'Fighter_1': fighter_1, 'Fighter_2': fighter_2, 'Winner': winners})
fight_df

   Fight_ID     Date        Fighter_1        Fighter_2  Winner
0       435  06-2017     Brian Ortega  Connor McGregor       1
1       654  08-2017     Brian Ortega        Jon Jones       1
2       796  03-2019  Connor McGregor        Jon Jones       2

### Add age of each fighter based on date

In [40]:
# Change Date to datetime
fight_df['Date'] = pd.to_datetime(fight_df['Date'], format='%m-%Y')

In [41]:
# Calculate the age based on date of fight and fighter's dob
fight_df['Fighter_1_Age'] = fight_df['Date'] - fighter_df['D.O.B.']

## Merged DF

# Fighter Class

In [85]:
import datetime
from datetime import timedelta

In [90]:
today = datetime.date.today()

date_of_birth = datetime.date(1989, 11, 15)
age = int(((today-date_of_birth).days)/365)
age

29

In [45]:
dob = 19900506

In [111]:

s = "20120213"
# you could also import date instead of datetime and use that.
date_formatted = datetime.datetime(year=int(s[0:4]), month=int(s[4:6]), day=int(s[6:8])).strftime("%Y-%m-%d")

In [112]:
date_formatted

'2012-02-13'

In [125]:
today = datetime.date.today

In [119]:
today = datetime.date.today()

In [120]:
today

datetime.date(2019, 7, 18)

In [126]:
today = datetime.date.today()
dob = datetime.datetime(year=int(s[0:4]), month=int(s[4:6]), day=int(s[6:8]))

# yyyy = int(self.dob[0:4])
# mm = int(self.dob[4:6])
# dd = int(self.dob[6:8])
# dob = datetime.date(yyyy, mm, dd)
age_days = (today-dob).days
age_years = age_days / 365

TypeError: unsupported operand type(s) for -: 'datetime.date' and 'datetime.datetime'

In [131]:
from datetime import date 
  
def calculateAge(birthDate): 
    today = date.today() 
    dateOfBirth = datetime.date(year=int(birthDate[0:4]), month=int(birthDate[4:6]), day=int(birthDate[6:8]))
    age = today.year - dateOfBirth.year - ((today.month, today.day) < (dateOfBirth.month, dateOfBirth.day))   
    return age 
      
# Driver code  
print(calculateAge(date(1997, 2, 3)), "years")

TypeError: 'datetime.date' object is not subscriptable

In [37]:
class Fighter():
    """A fighter within the UFC.  Keeps track of attrributes such as name, hometown and age, 
    as well as methods for updating statistics from each fight"""
    
    def __init__(self, name, date_of_birth, height, home_town):
        """name: (str) first name and last name
           date_of_birth: (yyyymmdd)
           height: (in centimeters)
           home_town: The figher's birthplace"""
        self.name = name
        self.first_name = name.split(" ")[0]
        self.last_name = name.split(" ")[-1]
        self.dob = date_of_birth
        self.height = height        
        self.home = home_town.split(" ")[-1]  # We are only interested in the country of birth
        
        # Age
        self.age = None
        
        # Performance Statistics
        self.previous = None
        self.streak = None
        
        # Fight Statistics
        self.strikes_avg     = None
        self.sig_strikes_avg = None
        self.strikes_acc     = None
        self.sig_strikes_acc = None
        self.dom_pos_avg     = None
    
    def age(self):
        '''Returns the age of the fighter in years'''
        today = datetime.date.today()
        dob = datetime(year=int(s[0:4]), month=int(s[4:6]), day=int(s[6:8]))
        
        yyyy = int(self.dob[0:4])
        mm = int(self.dob[4:6])
        dd = int(self.dob[6:8])
        dob = datetime.date(yyyy, mm, dd)
        age_days = (today-dob).days
        age_years = age_days / 365
        
        return int(age_years)
    
    def fight(self):
        """Updates the fighter's statistics with the latest fight"""

In [38]:
help(Fighter)

Help on class Fighter in module __main__:

class Fighter(builtins.object)
 |  A fighter within the UFC.  Keeps track of attrributes such as name, hometown and age,
 |  as well as methods for updating statistics from each fight
 |
 |  Methods defined here:
 |
 |  __init__(self, name, date_of_birth, height, home_town)
 |      name: (str) first name and last name
 |      date_of_birth: (yyyymmdd)
 |      height: (in centimeters)
 |      home_town: The figher's birthplace
 |
 |  age(self)
 |      Returns the age of the fighter in years
 |
 |  fight(self)
 |      Updates the fighter's statistics with the latest fight
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [40]:
fighter_jon_jones = Fighter('Jon Jones', '19900503', 195, 'Phoenix Arizona USA')

In [42]:
fighter_jon_jones.last_name

'Jones'

In [44]:
fighter_jon_jones.dob

'19900503'

In [ ]:
class Fight():
    ''''''
    
    def __init__(fighter1, fighter2, date):
        '''fighter1 = Name of the first fighter
           figthter2 = Name of the second fighter
           date = Date that the figtht took place'''
        self.f1 = fighter1
        self.f2 = fighter2
        self.date = date

In [6]:
f1 = Fighter("John Jones", 32)

print(f1.name)
print(f1.age)
f1.myfunc()

John Jones
32
Hello my name is John Jones

# Fight Class

# New column for last word of HomeTown or Location

In [42]:
fight_df

   Fight_ID       Date        Fighter_1        Fighter_2  Winner Fighter_1_Age
0       435 2017-06-01     Brian Ortega  Connor McGregor       1     9862 days
1       654 2017-08-01     Brian Ortega        Jon Jones       1    11841 days
2       796 2019-03-01  Connor McGregor        Jon Jones       2     9677 days

In [43]:
fighter_df

              Name Ages     D.O.B. Hometown  Accuracy
0     Brian Ortega   26 1990-06-01      USA      0.87
1        Jon Jones   32 1985-03-01      USA      0.67
2  Connor McGregor   30 1992-09-01  Ireland      0.23

In [46]:
fighter_df['Surname'] = fighter_df['Name'].apply(lambda x: x.split()[-1])

In [47]:
fighter_df

              Name Ages     D.O.B. Hometown  Accuracy   Surname
0     Brian Ortega   26 1990-06-01      USA      0.87    Ortega
1        Jon Jones   32 1985-03-01      USA      0.67     Jones
2  Connor McGregor   30 1992-09-01  Ireland      0.23  McGregor

In [50]:
fighter_df.drop('Surname', axis=1, inplace=True)

In [51]:
fighter_df

              Name Ages     D.O.B. Hometown  Accuracy
0     Brian Ortega   26 1990-06-01      USA      0.87
1        Jon Jones   32 1985-03-01      USA      0.67
2  Connor McGregor   30 1992-09-01  Ireland      0.23