# Import Libraries

In [881]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

import datetime

# Create Sample DataFrames

## Fighter DF

In [37]:
names = ['Brian Ortega', 'Jon Jones', 'Connor McGregor']
ages  = ['26','32','30']
dobs  = ['06-1990','03-1985','09-1992'] 
homes = ['USA','USA','Ireland']
accuracies = [0.87,0.67,0.23]

fighter_df = pd.DataFrame({'Name': names, 'Ages': ages, 'D.O.B.': dobs,'Hometown': homes, 'Accuracy': accuracies})
fighter_df

              Name Ages   D.O.B. Hometown  Accuracy
0     Brian Ortega   26  06-1990      USA      0.87
1        Jon Jones   32  03-1985      USA      0.67
2  Connor McGregor   30  09-1992  Ireland      0.23

In [38]:
fighter_df['D.O.B.'] = pd.to_datetime(fighter_df['D.O.B.'], format='%m-%Y')

## Fight DF

In [39]:
fight_ids = [435,654,796]
dates     = ['06-2017','08-2017','03-2019']
fighter_1 = ['Brian Ortega', 'Brian Ortega', 'Connor McGregor']
fighter_2 = ['Connor McGregor', 'Jon Jones', 'Jon Jones']
winners   = [1,1,2]

fight_df = pd.DataFrame({'Fight_ID': fight_ids, 'Date': dates, 'Fighter_1': fighter_1, 'Fighter_2': fighter_2, 'Winner': winners})
fight_df

   Fight_ID     Date        Fighter_1        Fighter_2  Winner
0       435  06-2017     Brian Ortega  Connor McGregor       1
1       654  08-2017     Brian Ortega        Jon Jones       1
2       796  03-2019  Connor McGregor        Jon Jones       2

### Add age of each fighter based on date

In [40]:
# Change Date to datetime
fight_df['Date'] = pd.to_datetime(fight_df['Date'], format='%m-%Y')

In [41]:
# Calculate the age based on date of fight and fighter's dob
fight_df['Fighter_1_Age'] = fight_df['Date'] - fighter_df['D.O.B.']

## Merged DF

# Fighter Class

In [85]:
import datetime
from datetime import timedelta

In [90]:
today = datetime.date.today()

date_of_birth = datetime.date(1989, 11, 15)
age = int(((today-date_of_birth).days)/365)
age

29

In [45]:
dob = 19900506

In [111]:

s = "20120213"
# you could also import date instead of datetime and use that.
date_formatted = datetime.datetime(year=int(s[0:4]), month=int(s[4:6]), day=int(s[6:8])).strftime("%Y-%m-%d")

In [112]:
date_formatted

'2012-02-13'

In [125]:
today = datetime.date.today

In [119]:
today = datetime.date.today()

In [120]:
today

datetime.date(2019, 7, 18)

In [126]:
today = datetime.date.today()
dob = datetime.datetime(year=int(s[0:4]), month=int(s[4:6]), day=int(s[6:8]))

# yyyy = int(self.dob[0:4])
# mm = int(self.dob[4:6])
# dd = int(self.dob[6:8])
# dob = datetime.date(yyyy, mm, dd)
age_days = (today-dob).days
age_years = age_days / 365

TypeError: unsupported operand type(s) for -: 'datetime.date' and 'datetime.datetime'

In [131]:
from datetime import date 
  
def calculateAge(birthDate): 
    today = date.today() 
    dateOfBirth = datetime.date(year=int(birthDate[0:4]), month=int(birthDate[4:6]), day=int(birthDate[6:8]))
    age = today.year - dateOfBirth.year - ((today.month, today.day) < (dateOfBirth.month, dateOfBirth.day))   
    return age 
      
# Driver code  
print(calculateAge(date(1997, 2, 3)), "years")

TypeError: 'datetime.date' object is not subscriptable

In [37]:
class Fighter():
    """A fighter within the UFC.  Keeps track of attrributes such as name, hometown and age, 
    as well as methods for updating statistics from each fight"""
    
    def __init__(self, name, date_of_birth, height, home_town):
        """name: (str) first name and last name
           date_of_birth: (yyyymmdd)
           height: (in centimeters)
           home_town: The figher's birthplace"""
        self.name = name
        self.first_name = name.split(" ")[0]
        self.last_name = name.split(" ")[-1]
        self.dob = date_of_birth
        self.height = height        
        self.home = home_town.split(" ")[-1]  # We are only interested in the country of birth
        
        # Age
        self.age = None
        
        # Performance Statistics
        self.previous = None
        self.streak = None
        
        # Fight Statistics
        self.strikes_avg     = None
        self.sig_strikes_avg = None
        self.strikes_acc     = None
        self.sig_strikes_acc = None
        self.dom_pos_avg     = None
    
    def age(self):
        '''Returns the age of the fighter in years'''
        today = datetime.date.today()
        dob = datetime(year=int(s[0:4]), month=int(s[4:6]), day=int(s[6:8]))
        
        yyyy = int(self.dob[0:4])
        mm = int(self.dob[4:6])
        dd = int(self.dob[6:8])
        dob = datetime.date(yyyy, mm, dd)
        age_days = (today-dob).days
        age_years = age_days / 365
        
        return int(age_years)
    
    def fight(self):
        """Updates the fighter's statistics with the latest fight"""

In [38]:
help(Fighter)

Help on class Fighter in module __main__:

class Fighter(builtins.object)
 |  A fighter within the UFC.  Keeps track of attrributes such as name, hometown and age,
 |  as well as methods for updating statistics from each fight
 |
 |  Methods defined here:
 |
 |  __init__(self, name, date_of_birth, height, home_town)
 |      name: (str) first name and last name
 |      date_of_birth: (yyyymmdd)
 |      height: (in centimeters)
 |      home_town: The figher's birthplace
 |
 |  age(self)
 |      Returns the age of the fighter in years
 |
 |  fight(self)
 |      Updates the fighter's statistics with the latest fight
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [40]:
fighter_jon_jones = Fighter('Jon Jones', '19900503', 195, 'Phoenix Arizona USA')

In [42]:
fighter_jon_jones.last_name

'Jones'

In [44]:
fighter_jon_jones.dob

'19900503'

In [ ]:
class Fight():
    ''''''
    
    def __init__(fighter1, fighter2, date):
        '''fighter1 = Name of the first fighter
           figthter2 = Name of the second fighter
           date = Date that the figtht took place'''
        self.f1 = fighter1
        self.f2 = fighter2
        self.date = date

In [6]:
f1 = Fighter("John Jones", 32)

print(f1.name)
print(f1.age)
f1.myfunc()

John Jones
32
Hello my name is John Jones

# Fight Class

# New column for last word of HomeTown or Location

In [42]:
fight_df

   Fight_ID       Date        Fighter_1        Fighter_2  Winner Fighter_1_Age
0       435 2017-06-01     Brian Ortega  Connor McGregor       1     9862 days
1       654 2017-08-01     Brian Ortega        Jon Jones       1    11841 days
2       796 2019-03-01  Connor McGregor        Jon Jones       2     9677 days

In [43]:
fighter_df

              Name Ages     D.O.B. Hometown  Accuracy
0     Brian Ortega   26 1990-06-01      USA      0.87
1        Jon Jones   32 1985-03-01      USA      0.67
2  Connor McGregor   30 1992-09-01  Ireland      0.23

In [46]:
fighter_df['Surname'] = fighter_df['Name'].apply(lambda x: x.split()[-1])

In [47]:
fighter_df

              Name Ages     D.O.B. Hometown  Accuracy   Surname
0     Brian Ortega   26 1990-06-01      USA      0.87    Ortega
1        Jon Jones   32 1985-03-01      USA      0.67     Jones
2  Connor McGregor   30 1992-09-01  Ireland      0.23  McGregor

In [50]:
fighter_df.drop('Surname', axis=1, inplace=True)

In [51]:
fighter_df

              Name Ages     D.O.B. Hometown  Accuracy
0     Brian Ortega   26 1990-06-01      USA      0.87
1        Jon Jones   32 1985-03-01      USA      0.67
2  Connor McGregor   30 1992-09-01  Ireland      0.23

# Practice with classes

https://www.youtube.com/watch?v=ZDa-Z5JzLYM&list=PL-osiE80TeTsqhIuOqKhwlXsIBIdSeYtc

In [161]:
import datetime
today = datetime.date.today()
date_of_birth = datetime.date(1989, 11, 15)
age = ((today-date_of_birth).days)//365
age

datetime.date(2019, 7, 19)

In [229]:
class Fighter:
    
    today = datetime.date.today()
    
    def __init__(self, first, last, dob, fights, wins):
        """first: fighter's first name
           last: fighter's last name
           dob: format (int) yyyymmdd"""
        self.first = first
        self.last = last
        yyyy = int(str(dob)[:4])
        mm = int(str(dob)[4:6])
        dd = int(str(dob)[6:8])
        self.dob = datetime.date(yyyy, mm, dd)
        self.age = (self.today - self.dob).days//365
        self.fights = fights
        self.wins = wins
        self.win_pct = wins / fights

    def fullname(self):
        """Returns the full name of the fighter"""
        return '{} {}'.format(self.first, self.last)
    
    def update_age(self, date):
        """Sets the age of the fighter to the age they would be at a given date """
        yyyy = int(str(date)[:4])
        mm = int(str(date)[4:6])
        dd = int(str(date)[6:8])
        fight_date = datetime.date(yyyy, mm, dd)
        self.age = (fight_date - self.dob).days//365

In [243]:
# function for calculating age at a date
# INPUT FUNCTION HERE TO CLEAN UP CLASS

In [230]:
fighter1 = Fighter('Bruce', 'Lee', 19600104, 24, 20)
fighter2 = Fighter('Jackie', 'Chan', 19780503, 16, 15)

In [226]:
print(fighter1.fullname())

# this is the same as above, but might make it easier to update statistics for instance.
print(Fighter.fullname(fighter1))

Bruce Lee
Bruce Lee

In [227]:
# Returns the namespace of fighter1
fighter1.__dict__

{'first': 'Bruce',
 'last': 'Lee',
 'dob': datetime.date(1960, 1, 4),
 'age': 59,
 'fights': 24,
 'wins': 20,
 'win_pct': 0.8333333333333334}

In [231]:
# test the update_age method
print(fighter1.age)
fighter1.update_age(20150604)
print(fighter1.age)

59
55

# Exploring Yuan's 3 csv files

In [250]:
import pandas as pd

In [249]:
!ls ../data/raw/

data.csv.zip     ufc_bouts.csv    ufc_combined.csv ufc_fighters.csv

## Bouts DF

In [401]:
data_bouts = pd.read_csv('../data/raw/ufc_bouts.csv', parse_dates=['date'])
data_bouts.head(3)

,bout_id,event_name,date,location,attendance,result,fighter1,fighter2,winner,weight_class,title_fight,method,end_round,end_time
0,1,UFC Fight Night: Magny vs. Ponzinibbio,2018-11-17,"Buenos Aires, Buenos Aires, Argentina",10245.0,win,Santiago Ponzinibbio,Neil Magny,Santiago Ponzinibbio,Welterweight,f,KO/TKO-Punch,4,2:36
1,2,UFC Fight Night: Magny vs. Ponzinibbio,2018-11-17,"Buenos Aires, Buenos Aires, Argentina",10245.0,win,Ricardo Lamas,Darren Elkins,Ricardo Lamas,Featherweight,f,KO/TKO-Elbows,3,4:09
2,3,UFC Fight Night: Magny vs. Ponzinibbio,2018-11-17,"Buenos Aires, Buenos Aires, Argentina",10245.0,win,Johnny Walker,Khalil Rountree Jr.,Johnny Walker,Light Heavyweight,f,KO/TKO-Elbow,1,1:57

### Result column

In [402]:
print('Result Column Value Counts:\n', data_bouts.result.value_counts(), '\n')

# Drop NC rows as they dont help us predict the outcome
data_bouts = data_bouts[data_bouts['result']!='nc']

# drop the draw rows for now, so that we have a binary outcome of win or lose
data_bouts = data_bouts[data_bouts['result']!='draw']

print('Result Column Value Counts After Dropping nc AND draw:\n', data_bouts.result.value_counts())

Result Column Value Counts:
 win     4796
nc        48
draw      34
Name: result, dtype: int64

Result Column Value Counts After Dropping nc AND draw:
 win    4796
Name: result, dtype: int64

### Shorten location column to only the country

In [403]:
# Strip the location column down to only the country
data_bouts['location'] = data_bouts['location'].str.split(" ").str.get(-1)
# Rename the location column to bout_location
data_bouts.rename({'location': 'bout_location'}, inplace=True)

data_bouts.head(1)

,bout_id,event_name,date,location,attendance,result,fighter1,fighter2,winner,weight_class,title_fight,method,end_round,end_time
0,1,UFC Fight Night: Magny vs. Ponzinibbio,2018-11-17,Argentina,10245.0,win,Santiago Ponzinibbio,Neil Magny,Santiago Ponzinibbio,Welterweight,f,KO/TKO-Punch,4,2:36

### Reduce categories in method column

In [404]:
print('- There were originally {} categories of win method\n'.format(data_bouts.method.value_counts().count()))

# Reduce the categories down
data_bouts['method'] = data_bouts['method'].str.split("-").str.get(0)

print('- Now there are only {} categories of win method: \n{}'.format(data_bouts.method.value_counts().count(), data_bouts.method.value_counts()))

- There were originally 44 categories of win method

- Now there are only 4 categories of win method:
DEC       2106
KO/TKO    1645
SUB       1031
DQ          14
Name: method, dtype: int64

### Duplicate Rows (no duplicate bout_ids)

In [405]:
data_bouts.shape[0] == data_bouts['bout_id'].nunique()

True

### Drop other unecessary columns

In [406]:
cols_to_keep = ['date', 'location', 'fighter1', 'fighter2', 'winner', 'title_fight', 'method', 'end_round']
data_bouts = data_bouts[cols_to_keep]
data_bouts.head(3)

,date,location,fighter1,fighter2,winner,title_fight,method,end_round
0,2018-11-17,Argentina,Santiago Ponzinibbio,Neil Magny,Santiago Ponzinibbio,f,KO/TKO,4
1,2018-11-17,Argentina,Ricardo Lamas,Darren Elkins,Ricardo Lamas,f,KO/TKO,3
2,2018-11-17,Argentina,Johnny Walker,Khalil Rountree Jr.,Johnny Walker,f,KO/TKO,1

### Save the cleaned bouts df to processed data file

In [408]:
data_bouts.to_csv('../data/processed/bouts_cleaned')

## Fighters DF

In [1373]:
data_fighters = pd.read_csv('../data/raw/ufc_fighters.csv', parse_dates=['dob'])
data_fighters.head(3)

,fighter_id,name,win,lose,draw,nc,height,weight,reach,stance,dob,SLpM,Str_Acc,SApM,Str_Def,TD_Avg,TD_Acc,TD_Def,Sub_Avg,last_updated
0,1,Luciano Azevedo,16,9,1,0,"6' 3""",161 lbs.,NaN,Orthodox,1981-06-25,0.76,45%,1.97,27%,2.28,11%,0%,0.0,2018-11-21 19:35:04.893952
1,2,Michael Byrnes,5,2,0,0,"5' 11""",155 lbs.,NaN,NaN,1990-07-17,0.00,0%,0.00,0%,0.00,0%,0%,0.0,2018-11-21 19:35:09.304165
2,3,Gleidson Cutis,7,3,0,0,"5' 9""",155 lbs.,NaN,Orthodox,1989-02-07,2.99,52%,8.28,59%,0.00,0%,0%,0.0,2018-11-21 19:35:11.211072

In [1374]:
data_fighters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3187 entries, 0 to 3186
Data columns (total 20 columns):
fighter_id      3187 non-null int64
name            3187 non-null object
win             3187 non-null int64
lose            3187 non-null int64
draw            3187 non-null int64
nc              3187 non-null int64
height          2928 non-null object
weight          3111 non-null object
reach           1482 non-null object
stance          2360 non-null object
dob             2454 non-null datetime64[ns]
SLpM            3187 non-null float64
Str_Acc         3187 non-null object
SApM            3187 non-null float64
Str_Def         3187 non-null object
TD_Avg          3187 non-null float64
TD_Acc          3187 non-null object
TD_Def          3187 non-null object
Sub_Avg         3187 non-null float64
last_updated    3187 non-null object
dtypes: datetime64[ns](1), float64(4), int64(5), object(10)
memory usage: 498.0+ KB

In [1375]:
data_fighters.describe()

,fighter_id,win,lose,draw,nc,SLpM,SApM,TD_Avg,Sub_Avg
count,3187.00000,3187.000000,3187.000000,3187.000000,3187.000000,3187.000000,3187.000000,3187.000000,3187.000000
mean,1594.00000,11.497647,5.216505,0.292438,0.133668,2.153012,2.812931,1.173282,0.651302
std,920.15198,8.905952,4.697457,0.866378,0.376264,2.005978,2.818438,1.838291,1.551506
min,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,797.50000,5.000000,2.000000,0.000000,0.000000,0.510000,1.130000,0.000000,0.000000
50%,1594.00000,10.000000,4.000000,0.000000,0.000000,2.000000,2.600000,0.460000,0.000000
75%,2390.50000,15.000000,7.000000,0.000000,0.000000,3.250000,3.790000,1.860000,0.800000
max,3187.00000,127.000000,74.000000,11.000000,4.000000,30.000000,52.500000,32.140000,21.900000

In [1376]:
data_fighters.isna().sum().sort_values(ascending=False)[:6]

reach     1705
stance     827
dob        733
height     259
weight      76
name         0
dtype: int64

### Deal with missing values

### Remove fighters with limited statistics

### Drop unecessary columns

In [1401]:
data_fighters.head(3)

,fighter_id,name,win,lose,draw,nc,height,weight,reach,stance,...,SApM,Str_Def,TD_Avg,TD_Acc,TD_Def,Sub_Avg,last_updated,dob_year,age_today,height_inches
0,1,Luciano Azevedo,16,9,1,0,6 3,161 lbs.,72.0,Orthodox,...,1.97,27,2.28,11,0,0.0,2018-11-21 19:35:04.893952,1981.0,38.0,75.0
1,3,Gleidson Cutis,7,3,0,0,5 9,155 lbs.,72.0,Orthodox,...,8.28,59,0.00,0,0,0.0,2018-11-21 19:35:11.211072,1989.0,30.0,69.0
2,4,Rolando Dy,9,7,1,1,5 8,145 lbs.,69.0,Orthodox,...,4.47,52,0.30,20,68,0.0,2018-11-21 19:35:14.677808,1990.0,29.0,68.0

In [1402]:
# Columns to drop
cols_to_drop = ['fighter_id', 'weight', 'last_updated', 'dob_year', 'height']

# Drop the columns
data_fighters.drop(cols_to_drop, axis=1, inplace=True)

In [1403]:
data_fighters.shape

(2460, 18)

In [1404]:
data_fighters.head(3)

,name,win,lose,draw,nc,reach,stance,dob,SLpM,Str_Acc,SApM,Str_Def,TD_Avg,TD_Acc,TD_Def,Sub_Avg,age_today,height_inches
0,Luciano Azevedo,16,9,1,0,72.0,Orthodox,1981-06-25,0.76,45,1.97,27,2.28,11,0,0.0,38.0,75.0
1,Gleidson Cutis,7,3,0,0,72.0,Orthodox,1989-02-07,2.99,52,8.28,59,0.00,0,0,0.0,30.0,69.0
2,Rolando Dy,9,7,1,1,69.0,Orthodox,1990-08-11,3.04,37,4.47,52,0.30,20,68,0.0,29.0,68.0

### Save the cleaned fighters df to processed data file

In [1405]:
data_fighters.to_csv('../data/processed/fighters_cleaned')